.movies_name {
    list-style: none;
    font-size: 30px;
}

.movies_section {
    font-size: 40px;
    margin-top: 40px;
}

.movies_section_intro {
    font-size: 50px;
}

.coralBG{
    background-color: coral;
}

.plant{
    font-weight: bold;
    font-size: 80px;
}

.bgLime{
    background-color: lime;
}

.kinBridge{
    padding: 40px;
    margin: 50px;
}

.borderBlack{
    border: 1px solid black;
}

.borderBlue{
    border: 1px dashed blue;
}

.list_Style{
    list-style: none;
}

.text_center{
    text-align: center;
}

.paragraph_test{
    text-align: justify;
    border: 1px solid black;
    padding: 30px;
    max-width: 1000px;
    margin: 0 auto;
    font-size: 30px;
    border-radius: 30px;
}

.buttonBase{
    padding: 5px 20px;
    font-size: 20px;
    border-radius: 5px;
}

.buttonContainer{
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin-top: 30px;
}